.file-upload-section h2 {
    color: #ffffff; /* Change to the desired color */
    font-size: 30px; /* Adjust the font size as needed */
    font-family: "Calibri bold", sans-serif; /* Replace 'YourFont' with your desired font name */
    width: 350px;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.title {
    margin: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 210px;
    position: relative; /* Change position to relative */
    z-index: 30;
    overflow-y: auto; /* Add overflow-y to allow vertical scrolling */
}

.container .grading-question {
    color: #4f4f4f; /* Change the text color to dark gray */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /* Replace 'YourFont' with your desired font name */
    font-weight: bold;
}

.file-upload-section {
    display: none;
}

.grading-criteria {
    text-align: center;
    margin-top: 30px;
}

.grading-criteria p {
    margin-bottom: 20px;
}

.grading-criteria button {
    background: linear-gradient(to right, #d5d5d5 50%, #e9eef3 50%);
    background-size: 200% 100%;
    color: black;
    padding: 10px 20px;
    margin: 0 10px;
    border: 10px solid transparent; /* Add a transparent border */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
    font-family: "arial bold", sans-serif;
    font-size: 18px;
}

/* Apply the font change to the grading question */
.grading-criteria .grading-question {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #e9eef3;
}

.grading-criteria button {
    border-top: 3px solid #cea13c; /* Top border */
    border-bottom: 3px solid #cea13c; /* Bottom border */
    border-left: 3px solid #cea13c; /* Left border */
    border-right: 3px solid #cea13c; /* Right border */
}
.grading-criteria button:hover {
    background-position: right;
    color: #007300;
}

.file-upload-section.active {
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    margin-bottom: 200px;
}

input[type="file"] {
    border: 1px solid #ccc;
    display: block;
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 10px;
}

.upload-button {
    background: linear-gradient(to right, #5cb85c 50%, #007300 50%);
    background-size: 200% 100%;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    transition: background-position 0.3s, transform 0.5s;
}

.upload-button:hover {
    background-position: -100% 0;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .container {
        width: 60%;
    }
}

.container .data {
    color: #4f4f4f; /* Change the text color to dark gray */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /* Replace 'YourFont' with your desired font name */
    font-weight: bold;
}

.data-exists-question {
    text-align: center;
    margin-top: 30px;
}

.data-exists-question p {
    margin-bottom: 20px;
}

.data-exists-question button {
    background: linear-gradient(to right, #d5d5d5 50%, #e9eef3 50%);
    background-size: 200% 100%;
    color: black;
    padding: 10px 20px;
    margin: 0 10px;
    border: 10px solid transparent; /* Add a transparent border */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
    font-family: "arial bold", sans-serif;
    font-size: 18px;
}

/* Apply the font change to the grading question */
.data-exists-question .data {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #e9eef3;
}

.data-exists-question button {
    border-top: 3px solid #cea13c; /* Top border */
    border-bottom: 3px solid #cea13c; /* Bottom border */
    border-left: 3px solid #cea13c; /* Left border */
    border-right: 3px solid #cea13c; /* Right border */
}
.data-exists-question button:hover {
    background-position: right;
    color: #007300;
}
