.file-upload-container {
  font-family: Arial, sans-serif; 
  max-width: 500px; 
  margin: auto; 
  padding: 20px;
  background-image: url('../images/Container.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
  /* Center vertically */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 8px solid #d8c464;
}


.file-upload-header {
  text-align: center; /* Center header content */
}

.pencil-logo {
  width: 50px; /* Adjust the size of the logo */
  margin-bottom: 10px; /* Space below the logo */
}

h1 {
  color: #020409;
  margin-bottom: 30px; /* Space below the heading */
}

input[type="file"] {
  border: 1px solid #ccc; /* Grey border */
  display: block;
  margin: 0 auto 20px; /* Center the file input and add space below */
  padding: 10px;
}

.upload-button {
  background-color: #5cb85c; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around the text */
  border: none;
  border-radius: 5px; /* Rounded button edges */
  cursor: pointer; /* Pointer cursor on hover */
  display: block;
  margin: auto; /* Center button */
}

.upload-button:hover {
  background-color: #4cae4c; /* Slightly darker green on hover */
}

.grading-criteria {
  text-align: center; /* Center grading criteria content */
  margin-top: 30px; /* Space above the grading criteria */
}

.grading-criteria p {
  margin-bottom: 20px; /* Space below the paragraph */
}

.grading-criteria button {
  background-color: #57a19b;
  color: white;
  padding: 10px 20px;
  margin: 0 10px; /* Space between buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.grading-criteria button:hover {
  background-color: #286090; /* Darker blue on hover */
}

p {
  color: #020409;
}

/* Add responsiveness to the layout */
@media (max-width: 768px) {
  .file-upload-container {
    width: 60%; /* Make the container take up more width on smaller screens */
  }
}
