/* Base styling for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/pexels.jpeg'); /* Background image */
    background-color: #d5bcbc; /* Fallback background color */
    background-size: cover; /* Cover the entire background */
}

/* Header styling */
.group-header {
    padding: 50px 20px; /* Space inside the header */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: start; /* Align items to the start */
    margin-left: -1.5%;
}
.group-header img {
    width: 50px; /* Set the size of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between the image and the title */
}
.group-header-title {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

/* MainPageGroup specific styling */
.main-page-group {
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    padding: 200px;
    max-width: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 14%;
    bottom: 350%;
    transform: translate(-50%, -50%);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px; /* Add some margin to separate from the content */
}

.content-container {
    margin-bottom: 350px;
}

.group-search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 150%; /* Set the initial width of the search bar */
}

.group-search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300%; /* Ensure the input field takes up all available width */
}

.export-button {
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.groups-table {
    width: 370%;
    margin-left: 1px;
    border-collapse: collapse;
    margin-top: 20px;
}

.groups-table th, .groups-table td {
    padding: 12px;
    color: #ffffff; /* Change the font color */
    border: 1px solid;
}

.groups-table th {
    background-color: #150e0e;
    margin-bottom: 1px;
}

.group-home-button {
    display: block;
    margin: 20px 0 20px auto; /* Move the button to the far right */
    padding: 10px 20px;
    background-color: #000000; /* Black color for the button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
