body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/pexels.jpeg");
    background-color: #d5bcbc;
    background-size: cover;
    overflow-y: auto;
}

/* Header styling */
.individual-header {
    background-color: #dcdcdc;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Logo styling */
.header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Title styling */
.individual-header-title {
    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.main-page-individual {
    max-width: 100%;
    margin: 0;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
    padding-top: 120px;
    margin-left: 100px;
}

/* Search bar styling */
.individual-search-bar {
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    margin-bottom: 20px;
    width: auto; /* Allow it to take natural width or define as needed */
    margin-left: -40px; /* Align with the parent container */
}

.individual-search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

/* Export button styling */
.export-button {
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Table styling */
.individual-students-table {
    margin-left: 8px;
    border-collapse: collapse;
    margin-top: 20px;
    width: 1000px;
    color: white;
}

.individual-students-table th,
.individual-students-table td {
    padding: 12px;
    color: #ffffff;
    width: 10000px;
}

.individual-students-table tr:nth-child(even) {
    background-color: #000000;
}

.individual-students-table tbody tr:nth-child(odd) {
    background-color: #333;
}

.individual-students-table td {
    text-align: center;
    border: 1px solid;
}

.individual-students-table th {
    background-color: #000000;
    margin-bottom: 1px;
}

/* Home button styling */
.home-button {
    display: inline-block;
    margin: 20px 0 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
