/* MainPageIndividual.css */

/* Base styling for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Background.jpg'); /* Background image */
    background-color: #f0f0f0; /* Fallback background color */
    background-size: cover; /* Cover the entire background */
}

/* Header styling */
.header {
    background-color: #dcdcdc; /* Grey background for the header */
    padding: 10px 20px; /* Space inside the header */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: start; /* Align items to the start of the flex container */
}

.header img {
    width: 50px; /* Set the size of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between the image and the title */
}

.header .title {
    font-size: 29px; /* Large font size for the title */
    color: #000000;
    margin: 0; /* Reset margin */
}

/* MainPageIndividual specific styling */
.main-page-individual {
    font-family: 'Arial', sans-serif;
    background-image: url('Container.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-width: 600px;
    margin: 40px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #d8c464;

}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.export-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.students-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.students-table th, .students-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.students-table th {
    background-color: #f8f8f8;
}

.home-button {
    display: block;
    margin: 20px 0 20px auto; /* Move the button to the far right */
    padding: 10px 20px;
    background-color: #000000; /* Black color for the button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
