/* RegistrationPage.css */

/* Styles for the container */
  .registration-container {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/Users/harshavardhanbodepudi/Desktop/SER517_Team16/scorecraft/public/bg.jpg"); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
  }
  
  
  .registration-box {
    width: 400px;
    padding: 40px;
    border: double 4px white; /* White border */
    border-radius: 20px; /* Rounded corners */
    background-image: url('/Users/harshavardhanbodepudi/Desktop/SER517_Team16/scorecraft/public/bg2.jpg'); /* Image path */
    background-size: cover; /* Cover the entire box */
    background-position: center; /* Center the image */
  }
  
  
  /* Styles for the main heading */
  .main-heading {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles for the form */
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Styles for the input fields and labels */
  .input-label {
    color: white;
    margin-bottom: 30px;
    border: 4px rgb(159, 54, 173);
    
  }
  
  .input-field {
    padding: 10px;
    margin-bottom: 20px;
    border: 4px black;
    border-radius: 20px;
    background-color: rgb(255, 255, 255); /* White background color */
    color: purple; /* Purple text color */
  }
  
  /* Styles for the submit button */
  .submit-button {
    padding: 10px 20px;
    border: 4px black;
    border-radius: 5px;
    background-color: rgb(159, 54, 173);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #581494;
  }